services:
  - type: web
    name: shaaka-backend
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn shaaka_backend.wsgi:application
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: 5432

